extends layout

block content
    div.container
        h3 Quick Commands
        div.row
            div.col.col-md-4
                button.btn.btn-default#shutdown Shutdown Raspberry
                div.form-group
                    label Openhab
                    table
                        tr
                            td
                                button.btn.btn-default#startopenhab Start Openhab
                            td
                                button.btn.btn-default#stopopenhab Stop Openhab
                div.form-group
                    label Microphone
                    table
                        tr
                            td
                                button.btn.btn-default#startvolume Start Sensor
                            td
                                button.btn.btn-default#stopvolume Stop Sensor 
            div.col.col-md-4
                form.form-inline(method="post")
                    div.form-group
                        input(type="text", name="command", placeholder="Enter a Linux command...").form-control
                    div.form-group
                        button(type="submit").btn.btn-default Run
                textarea.form-control#console(rows="5") #{log.error};#{log.stdout};#{log.stderr}
        script(type='text/javascript', src='../js/handler.js')